{% extends "base.html" %}
{% load staticfiles %}{% load i18n %}{% get_current_language as LANGUAGE_CODE %}

{% block css %}
    <script type="text/javascript" src='{% static 'js/sfchat/sfchat.js' %}'></script>
    <script type="text/javascript" src='{% static 'js/sfchat/api/v1/api.js' %}'></script>
    <script type="text/javascript" src='{% static 'js/sfchat/api/v1/auth.js' %}'></script>
    <script type="text/javascript" src='{% static 'js/sfchat/api/v1/client.js' %}'></script>
    <script type="text/javascript" src='{% static 'js/sfchat/api/v1/resources/messages.js' %}'></script>
    <script type="text/javascript" src='{% static 'js/sfchat/api/v1/resources/chat.js' %}'></script>
{% endblock %}
{% block js %}{% endblock %}

{% block meta %}<meta name="description" content=""  />
<meta name="keywords" content="" />
<title>{% trans "Welcome to chat!" %}</title>
{% endblock %}

{% block main %}
    <aside>
        <div id="chat_header">
        <a href="/close"><img id="close" src="{% static 'images/close.png' %}" width="32" height="32" alt="close" /></a>
        </div>
        
        <div id="chat">Chat body in this div</div>
    </aside>
{% endblock %}

{% block inline_js %}
<script type="text/javascript">
    $(document).ready(function() {
        // set User Token
        SFChat.api.auth.setUserToken('{{ user_token }}');
        
        // init client
        var client = new SFChat.api.client({
            endPoint: '{{ request.get_host }}/api' 
        });
        
        // init message
        var messages = new SFChat.api.resources.messages(client);
    });
</script>    
{% endblock %}
