{% extends "base.html" %}
{% load staticfiles %}{% load i18n %}{% get_current_language as LANGUAGE_CODE %}

{% block css %}{% endblock %}
{% block js %}{% endblock %}

{% block meta %}<meta name="description" content=""  />
<meta name="keywords" content="" />
<title>{% trans "Welcome to chat!" %}</title>
{% endblock %}

{% block main %}
    <aside>
        <div id="chat_header">
        <a href="/close"><img id="close" src="{% static 'images/close.png' %}" width="32" height="32" alt="close" /></a>
        </div>
        
        <div id="chat">Chat body in this div</div>
        <div>chat_token={{chat_token}}</div>
    </aside>
{% endblock %}

