{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
<!--
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}" />
-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5">
    {% block meta %}{% endblock %}
    
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <script type="text/javascript" src='{% static 'jquery.min.js' %}'></script>
     
       
    {% block css %}{% endblock %}
    {% block js %}{% endblock %}
<!--
	  {% block google_analytics %} {% endblock %}
-->

</head>
<body>

<div id="layout">
    <header>
        <a href="/"><div id="slogan"> <h1>{% blocktrans %} SFChat &mdash; Secure Free Chat{% endblocktrans %}</h1></div></a>
    </header>
    <main>
        {% block main %}
        {% endblock %}
    </main>
    <footer>
        <nav>
            <ul>
                <li><a href="/privacy">{% trans "Privacy" %}</a></li>
                <li><a href="http://www.gnu.org/licenses/agpl-3.0.html" rel="license">GNU AGPLv3</a></li>
                <li><a href="/sources">{% trans "Source" %}</a></li>
                <li><a href="/faq">{% trans "FAQ" %}</a></li>
            </ul>
        </nav><div class="clear"></div>
        <div id="contact">{% blocktrans %}For questions please contact us {% endblocktrans %} mail[at]mail.com</div><div class="clear"></div>
        <div id="copyright">&copy; copyright SFChat 2014</div>
    </footer> 
</div>
</body>
</html>
