{% extends "base.html" %}
{% load staticfiles %}{% load i18n %}{% get_current_language as LANGUAGE_CODE %}

{% block css %}{% endblock %}
{% block js %}{% endblock %}

{% block meta %}<meta name="description" content=""  />
<meta name="keywords" content="" />
<title></title>
{% endblock %}

{% block main %}
    <main>
        <article>
            <form id="form-entry" class="pure-form pure-g" >
                <button type="submit" id="btn-create-chat" class="pure-u-1 pure-u-md-10-24 pure-button pure-button-primary">{% trans "Create chat" %}</button>
                <div id='or'>{% trans "OR" %}</div>
                <input id="code" type="text" class="pure-u-1 pure-u-md-7-24">
                <button type="submit" id="btn-join-chat" class="pure-u-1 pure-u-md-3-24 pure-button pure-button-primary">{% trans "Join" %}</button>
            </form>
        </article>
        
        <article>{% blocktrans %}
            Chat:
            <ol>
                <li>Click to "create chat"</li>
                <li>Send code with link to friend</li>
                <li>Enjoy free secure chatting!</li>
            </ol>
               
            Secure because:
            <ol>
                <li>Use SSL</li>
                <li>Chat history is not saved on server</li>
            </ol>
               
            Free considering:
            <ol>
                <li>Open source</li>
                <li>GNU license</li>
            </ol>
        {% endblocktrans %}    
        </article>
    </main>

{% endblock %}

