{% extends "base.html" %}
{% load staticfiles %}{% load i18n %}{% get_current_language as LANGUAGE_CODE %}

{% block css %}{% endblock %}
{% block js %}{% endblock %}

{% block meta %}<meta name="description" content=""  />
<meta name="keywords" content="" />
<title>{% trans "SFChat &mdash; Secure Free Chat" %}</title>
{% endblock %}

{% block main %}
    <aside>
        <form id="form-entry" action="/creatchat" method="post">{% csrf_token %}
            <button id="btn-create-chat" class="btn" type="submit" >{% trans "create new" %}</button>
            <div id='or'>{% trans "OR" %}</div>
            <div>
                <input id="code" name="code" type="text" placeholder="Enter code here..." onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter code here...'" ><!--
                --><button id="btn-join-chat" class="btn" type="submit">{% trans "join" %}</button>
            </div>
        </form>
    </aside>
    <hr>
    <div id="arrow-down"></div>    
    <article id="intro">{% blocktrans %}
        <h2>Chat:</h2>
        <ol>
            <li>Click to "create chat"</li>
            <li>Send code with link to friend</li>
            <li>Enjoy free secure chatting!</li>
        </ol>
        <h2>Secure because:</h2>
        <ol>
            <li>Use SSL</li>
            <li>Chat history is not saved on server</li>
        </ol>
        <h2>Free considering:</h2>
        <ol>
            <li>Open source</li>
            <li>GNU license</li>
        </ol>
    {% endblocktrans %}    
    </article>
{% endblock %}

