{% extends "base.html" %}
{% load staticfiles %}{% load i18n %}{% get_current_language as LANGUAGE_CODE %}

{% block css %}{% endblock %}
{% block js %}{% endblock %}

{% block meta %}<meta name="description" content=""  />
<meta name="keywords" content="" />
<title>{% trans "SFChat &mdash; Secure Free Chat" %}</title>
{% endblock %}

{% block main %}
    <aside id="chat-entry">
        <form method="POST" action="/create-chat/">{% csrf_token %}
            {{ form_create_chat }}
            <button class="btn btn-green" type="submit" >
                {% trans "create new" %}
            </button>
        </form>
        <div id='or'>{% trans "OR" %}</div>
        <form method="POST">{% csrf_token %}
            {{ form }}<button class="btn btn-orange" type="submit">{% trans "join" %}</button>
        </form>
    </aside>
    <hr>
    <div id="arrow-down"></div>    
    <article id="intro">{% blocktrans %}
        <h2>Chat:</h2>
        <ol>
            <li>Click to "create chat"</li>
            <li>Send code with link to friend</li>
            <li>Enjoy free secure chatting!</li>
        </ol>
        <h2>Secure because:</h2>
        <ol>
            <li>Use SSL</li>
            <li>Chat history is not saved on server</li>
        </ol>
        <h2>Free considering:</h2>
        <ol>
            <li>Open source</li>
            <li>BSD-3-Clause license</li>
        </ol>
    {% endblocktrans %}    
    </article>
{% endblock %}

