@charset "utf-8";

/* 16 * 0.0625 = 0.0625em */
/* 998px / 16px = 62.375em */

h1 { font-family: Arial, Helvetica, sans-serif; font-size: 1.4em;}
h1 a, header a { text-decoration: none; color: #555555; }
h2 { margin:5px 0 0 0; font-size: 1em; text-align: left; color: #555555;}

ol { padding-left: 25px; margin:0; }

body { font-family: Georgia, "Times New Roman", serif; }

.clear { clear:both; }
.hide { display: none; }

#layout { border:2px solid #999; max-width: 30em; margin: 5px auto; }

header {}

#slogan h1{ margin: 0 auto; padding: 5px; text-align:center; font-size:120%; } 

main { padding: 10px; border-top: 1px solid #999; border-bottom: 1px solid #999999; }

#form-entry { margin: 0 auto; text-align:center; }

.btn { border-radius: 5px;}

#btn-create-chat { margin-top:10px; width:260px; height: 45px; color:black; background-color:#D8EAC7; border:1px solid #5B8F45; }

#or { letter-spacing: normal; margin: 5px 0;}

input { text-align:center; font-style: italic; }
#code { width:160px; height: 40px; margin:0; padding:0; color:black;  border:1px solid #CC8934; }
#btn-join-chat { width:100px; height: 45px; margin:0; padding:0; color:black; background-color:#FFE599; border:1px solid #CC8934; font-style:italic; text-align:center; }

hr { margin: 25px 0 0 0; padding:0; display: block;
    border-style: inset;
    border-width: 1px; 
    color: #C8C2BC;
    border-bottom: 0;
}

#arrow-down { width: 0; height: 0; margin: -1px auto;
    border-bottom:  0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #C8C2BC;
}

footer { font-size: 0.8125em; padding: 0.625em;}
footer nav { height:auto; margin:0 auto; padding:0; vertical-align: middle; text-align: center; }
footer nav ul { margin: 0 auto; padding: 0; list-style: none; }
footer nav li { display:inline; padding-right: 0.3125em; }
footer nav ul li a { font-size:90%; color: #999; text-decoration: underline; letter-spacing: normal; }
footer nav ul li a:hover { text-decoration: none; }

#contact { margin: 0 auto; padding-top:10px; font-size:90%; text-align: center; }
#copyright { margin: 0 auto; padding-top:10px;  vertical-align: middle; text-align: center; }

