@charset "utf-8";

/* 16 * 0.0625 = 0.0625em */
/* 998px / 16px = 62.375em */

h1 { font-family: Arial, Helvetica, sans-serif; font-size: 1.4em;}
h1 a { text-decoration: none; color: #555555; }
h2 { text-align: center; }

body, .pure-g [class *= "pure-u"], .pure-g-r [class *= "pure-u"] { font-family: Georgia, "Times New Roman", serif; }

.clear { clear:both; }
.hide { display: none; }

#layout { border:2px solid #999; max-width: 62.375em; margin: 0 auto; letter-spacing: normal;}

header {}

#logo {}

main { padding: 0.625em; border-top: 1px solid #999; border-bottom: 1px solid #999999; letter-spacing: normal; }

article { text-align: justify; letter-spacing: normal;}
article h1 { margin: 0; padding: 0; }
article p { line-height:150%; text-indent: 0.8125em; margin-top: 0.3125em; padding: 0 0.625em;}

#or { letter-spacing: normal; margin: 5px 0;}
#form-entry  { text-align:center; }

#btn-create-chat {color:black; background-color:#D8EAC7; border:1px solid #5B8F45;}
#btn-join-chat {color:black; background-color:#FFE599; border:1px solid #CC8934;}
#code {color:black; border:1px solid #CC8934;}


footer { width:100%; height: 2.1em;  font-size: 0.8125em; background-color: #999999; color: #FFFFFF; }

#copyright { vertical-align: middle; text-align: right; }
#copyright span { letter-spacing: normal; padding-right: 0.625em;}

